a:link{
    text-decoration: none;
}
.logo-img{
    grid-column: 1/2;
    height: 50px;
    width: 220px;
}

.nav-buttons{
    grid-column: 2/3;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    color:rgb(112, 133, 134);
     
}

.nav-buttons a{
    text-decoration: none;  
    color: rgb(112, 133, 134)
}

.nav-buttons a:hover{
    color:rgb(212, 175, 55);
}

.navigation-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
}

.phone-container{
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center; 
    color:pink;

    color: rgb(0, 81, 111);
    text-decoration: none;
    
    
}

.phone-link{
    color: rgb(0, 81, 111);
    text-decoration: none;  
}

.phone-link:hover{
    color:rgb(212, 175, 55);
}

/* rgb(212, 175, 55) goldish color*/

/****** Dropdown ******/
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color:  rgb(212, 175, 55);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(212, 175, 55);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;    
    border-radius: 5px;
}



.dropdown-content li{
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
}

.dropdown-content ul{
    padding-left: 0;
}

.dropdown:hover .dropdown-content{
    display: block;
    color:black;
}

.dropdown-content a{
    color:white;
}

.dropdown-content a:hover{
    color: white
}
/****** End of Dropdown ******/