a:link{
    text-decoration: none;
}
.logo-img{
    grid-column: 1/2;
    height: 50px;
    width: 220px;
}

.nav-buttons{
    grid-column: 2/3;
    display: flex;
    justify-content: space-around;
    align-items: center; 

}
.navigation-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: pink;
    padding-bottom: 20px;
}

.phone-container{
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center; 
}