a:link{
    text-decoration: none;
}
.logo-img{
    grid-column: 1/2;
    height: 50px;
    width: 220px;
}

.nav-buttons{
    grid-column: 2/3;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    color:rgb(112, 133, 134);
    
}
.navigation-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
}

.phone-container{
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center; 
    color:pink;

    color: rgb(0, 81, 111);
    text-decoration: none;
    
    
}

.phone-link{
    color: rgb(0, 81, 111);
    text-decoration: none;  
}

.phone-link:hover{
    color:rgb(212, 175, 55);
}

/* rgb(212, 175, 55) goldish color*/